.catalog-item:focus-within .subcatalog {
  display: block;
}

.subcatalog {
  display: none;
}

.slider-button {
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  cursor: pointer;
  height: 60px;
  width: 20px;
}

.slider-button:hover {
  background-color: red;
}

.slider-button:focus {
  background-color: yellow;
}
